@{
    ViewBag.Title = "UnAuthorizedAction";
}

<style type="text/css">
    .colorWht {
        background-color: white;
        min-height: 500px;
    }

    div.caption {
        text-decoration: underline;
        font-size: 15px;
    }
</style>

<div class="row-fluid">
     
    <div class="span12"> 
        <img src="@Url.Content("~/Images/access.jpg")" style="width:100%;"/> 
    </div> 
</div>
