@model Flortex.Inventory.Models.StockReport
@using Newtonsoft.Json;
@{
    ViewBag.Title = "GetStockReport";
    string WareHouses = JsonConvert.SerializeObject(Model.ds.Tables[0]);
    string Data = JsonConvert.SerializeObject(Model.dt);
}

<style>
    .mainTotal {
        background-color: #3993ba;
        font-weight: bold;
        color: white;
    }

    .subTotal {
        color: white;
    }

    #tblGrid > tbody tr:nth-child(odd) {
    }

    #tblGrid > tbody tr:nth-child(even) {
        background-color: rgb(236, 230, 230);
    }

    #tblGrid > thead tr th {
        background-color: rgba(23, 155, 119, 1);
        font-weight: bold;
        color: white;
    }

    #tblCategoryGrid > thead tr th {
        background-color: rgba(23, 155, 119, 1);
        font-weight: bold;
        color: white;
    }

    #tblCategoryGrid > tbody tr:nth-child(even) {
        background-color: rgb(236, 230, 230);
    }
</style>
<form class="cmxform" role="search" id="searchForm">
    <div class="row-fluid">
        <div class="span12">
            <h2 class="subtitle">Quick Stock Report</h2>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 onloadhide">
            <div class="row-fluid">
                <div class="span4">
                    <label style="color: white; margin-right: 10px;" class="pull-left">Search By : </label>
                    <label style="color: white; margin-right: 10px;" class="pull-left">
                        <input type="radio" id="rdbProductCode" name="filter" value="1" checked="checked" class="rdbFilter" />
                        Product code
                    </label>
                    <label style="color: white; margin-right: 10px;" class="pull-left">
                        <input type="radio" id="rdbCategory" name="filter" value="2" class="rdbFilter " />
                        Category
                    </label>
                </div>
                <div class="span5">
                    <input id="drpProductCodes" style="width: 450px;" class="mousetrap pull-left" />
                    <input id="drpProductCategory" style="width: 450px;" class="mousetrap pull-left" />
                </div>
                <div class="span3">
                    <a id="btnSearch" class="btn btn-default pull-left" style="margin-right: 5px; margin-left: 5px;">Search</a>
                    <a id="btnClear" class="btn btn-default pull-left" style="margin-right: 15px; margin-left: 5px;">Reset</a>
                </div>

            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="col-lg-12 span12">

            <table class="table" id="tblGrid" style="display: none; background-color: white">
                <caption id="tblGridCaption">
                    <span style="font-size: 16px; color: white;">Product Details </span>
                    <button id="btnBack" style="width: 100px;" class="btn btn-info pull-right">Back</button></caption>
                <thead>
                    <tr>
                        <th>Specifications</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>

    </div>
    <div class="row-fluid">

        <div class="col-lg-12 span12">

            <table class="table" id="tblCategoryGrid" style="display: none; background-color: white">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>

    </div>
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Product Details</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid" id="modelContainer">
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</form>

<script type="text/javascript">
    var _columns = null;
    var _data=@Html.Raw(Data) ;
    var locations= @Html.Raw(WareHouses);
    var obj={
        field:'',
        name:'',
        value:''
    }
    var item=[];

    $(function () {
        _columns = [{
            field: "ProductCode",
            title: "Product Code",
            value:''
        },{
            field: "ProductName",
            title: "Product Name",
            value:''
        },{
            field: "CategoryName",
            title: "Product Category",
            value:''
        },{
            field: "Spec",
            title: "Specifications", 
            value:''
        }
        ]


        for (var i = 0; i < locations.length; i++) {
            var obj1={},obj2={};
            obj1.field= "Act_Qty_" + locations[i].id;
            obj1.title="Actual Qty ("  + locations[i].name +")";
            obj1.value='';
            _columns.push(obj1);

            obj2.field= "Blck_Qty_" + locations[i].id;
            obj2.title="Blocked Qty ("  + locations[i].name +")";
            obj2.tag=locations[i].id;
            obj2.value='';
            _columns.push(obj2);

            var obj6={};
            obj6.field= "Total_Qty_" + locations[i].id;
            obj6.title="Total Balance Qty ("  + locations[i].name +")";
            obj6.value='';
            _columns.push(obj6);
        }

        var obj5={};
        obj5.field="Total_Qty";
        obj5.title="TOTAL";
        obj5.value='';
        _columns.push(obj5);

        for (var i = 0; i < locations.length; i++) {
            var obj3={}, obj4={};
            obj3.field= "ReOrd_Qty_" + locations[i].id;
            obj3.title="Re-Order Plan ("  + locations[i].name +")";
            obj3.value='';
            _columns.push(obj3);

            obj4.field= "ReOrd_ExpDt_" + locations[i].id;
            obj4.title="Re-Order Plan Date ("  + locations[i].name +")";
            obj4.tag= locations[i].id;
            obj4.value=''; 
            _columns.push(obj4);
        }



        $(".onloadhide").hide();
        //Product code list view control 
        function getProductsByCode() {
            $.ajax({
                url: '/GridStock/ProductsByCode',
                type: 'Get',
                async: false,
                beforeSend: function () {
                    $("#ajaxLoadingImg").show();
                },
                complete: function () { $("#ajaxLoadingImg").hide(); },
                success: function (res) {
                     
                    var productCodes = JSON.parse(res);
                    $("#drpProductCodes").kendoComboBox({
                        filter: "contains",
                        dataSource: productCodes, 
                        placeholder: "Select Product Code...", 
                        dataTextField: "code",
                        dataValueField: "id", 
                        autobind: false,
                        minLength: 1

                    });

                },
                error: function (e) { customAlert('error', 'alert'); }
            });
            
        } 
         
        getProductsByCode();

         
        function getProductCategory() {
            $.ajax({
                url: '/GridStock/GetProductCategory',
                type: 'Get',
                async: false,
                beforeSend: function () {
                    $("#ajaxLoadingImg").show();
                },
                complete: function () { $("#ajaxLoadingImg").hide(); },
                success: function (res) {
                    var productCodes = JSON.parse(res);
                    $("#drpProductCategory").kendoComboBox({
                        filter: "contains",
                        dataSource: productCodes, 
                        placeholder: "Select Product category...", 
                        dataTextField: "name",
                        dataValueField: "id", 
                        autobind: false,
                        minLength: 1

                    });

                },
                error: function (e) { customAlert('error', 'alert'); }
            });
            
        } 
        getProductCategory();

               

        Mousetrap.bind(['ctrl+enter', 'command+enter'], function (e) {
            e.preventDefault();
            $("#btnSearch").click();
        });

        Mousetrap.bind(['ctrl+r', 'command+r'], function (e) {
            e.preventDefault();
            $("#btnClear").click();
        });

        Mousetrap.bind(['ctrl+e', 'command+e'], function (e) {
            e.preventDefault();
            $("#btnExcelExport").click();
        });

        $("#btnSearch").click(function (e) {
             
            e.preventDefault();
            $("#ajaxLoadingImg").show();
            $("#tblCategoryGrid").hide();
            $("#tblGrid").hide();
            var $filter = {}; 
            var  $val = "";
 
            if ($("#rdbProductCode").is(":checked")) {  
                var combobox = $("#drpProductCodes").data("kendoComboBox");
                $val=combobox.value();
                 
                $filter.field= "ProductID";
                $filter.value=$val;

                if($filter){
                    var retItem=_.find(_data,function(item){  
                        if(item[$filter.field]==$filter.value)
                            return item;   
                    });
                    $("#tblGridCaption").hide();
                    _fillGrid(retItem);

                }
            }
            else if ($("#rdbCategory").is(":checked")) { 

                var combobox = $("#drpProductCategory").data("kendoComboBox");
                $val=combobox.value();

                $filter.field= "CategoryID";
                $filter.value=$val; 

                var _productsArr=_.filter(_data,function(item){  
                    if(item[$filter.field]==$filter.value)
                        return item;   
                });

                $("#tblGrid").hide();
                //tblGridCaption
               
                _fillProductsGrid(_productsArr);
            } 
           
            $("#ajaxLoadingImg").hide();
 
        });

        var _fillProductsGrid=function(item){
             
            var str='';
            if(item && item.length>0){
                for (var i = 0; i < item.length; i++) {

                    if(item[i].ProductCode && item[i].ProductName && item[i].ProductID)
                    { 
                        str +='<tr>'; 
                        str +='<td>'+item[i].ProductCode+'</td>';
                        str +='<td>'+item[i].ProductName+'</td>';
                        str +='<td><a href="javascript:void(0);" class="viewProductDetails" data-id="'+item[i].ProductID+'">View</a></td>';
                        str +=' </tr>';

                    }
                }
                $("#tblCategoryGrid>tbody").empty().append(str);
                $("#tblCategoryGrid").show();
            }
        }

        var _fillGrid=function(retItem){
            debugger
            if(retItem)
            { 
                var str='';
                for (var i = 0; i < _columns.length; i++) {
                    
                    str +='<tr';

                    if(_columns[i].field=="Total_Qty")
                        str+=' class="mainTotal" ';
                    else if( _columns[i].field.indexOf('Total_Qty_')>-1)
                        str+=' class="subTotal" style="background-color:rgb(155, 110, 59);" ';


                    str +='>';
                    str +='<td>'+_columns[i].title+'</td>';

                    if( _columns[i].field.indexOf('Blck_Qty_')> -1 && retItem['Blck_Qty_Exp_'+_columns[i].tag] =="1"){
                        str +='<td><a style="color:red;" data-prodid="'+retItem.ProductID+'" data-type="outward" data-locationid="'+_columns[i].tag +'" href="javascript:void(0);" onclick="showName(this);">'+retItem[_columns[i].field] +'</a></td>';
                    }
                    else  if( _columns[i].field.indexOf('ReOrd_ExpDt_')> -1 && retItem['ReOrd_ExpDt_'+_columns[i].tag].length>10){

                        str +='<td><a style="color:red;" data-prodid="'+retItem.ProductID+'" data-type="inward" data-locationid="'+_columns[i].tag +'" href="javascript:void(0);" onclick="showName(this);">'+retItem[_columns[i].field]  +'</a></td>'
                    }
                    else
                        str +='<td>'+retItem[_columns[i].field]+'</td>';

                    str +=' </tr>';
                   
                }
                $("#tblCategoryGrid").hide();
                $("#tblGrid>tbody").empty().append(str);
                $("#tblGrid").fadeIn(2000);
            }  
        };

        $("#tblCategoryGrid").on('click','a.viewProductDetails',function(e){
             
            var $val=parseInt($(this).attr("data-id")); 
            if($val)
            {
                var retItem=_.find(_data,function(item){  
                    if(item['ProductID']==$val)
                        return item;   
                });
                $("#tblGridCaption").show();
                //tblGridCaption
                _fillGrid(retItem);
            }
             
        });

        $("#btnBack").click(function (e) { 
            e.preventDefault();
            $("#tblCategoryGrid").show();
            $("#tblGrid").hide();

        });
        $("#btnClear").click(function (e) {
             
            e.preventDefault();
            $("#ajaxLoadingImg").show();
            var $filter = new Array(); 
            var combobox = $("#drpProductCodes").data("kendoComboBox");
            combobox.text('');
            var combobox1 = $("#drpProductCategory").data("kendoComboBox");
            combobox1.text('');
            grid.dataSource.filter($filter);
            $("#ajaxLoadingImg").hide();
 
        });

        
        $("input.rdbFilter").on("click",function(e){
            //e.preventDefault(); 
            if($(this).val()==2)
            {
                var combobox = $("#drpProductCodes").data("kendoComboBox");
                combobox.text('');
                $("#drpProductCategory").closest(".k-widget").show();
                $("#drpProductCodes").closest(".k-widget").hide(); 
                //$("#txtSearch").attr("placeholder","Enter Product category to search..");
            }
            else
            {                      
                var combobox1 = $("#drpProductCategory").data("kendoComboBox");
                combobox1.text('');
                $("#drpProductCategory").closest(".k-widget").hide();
                $("#drpProductCodes").closest(".k-widget").show();  
                //$("#txtSearch").attr("placeholder","Enter Product code to search.."); 
            }
        });
         
        $("#drpProductCategory").closest(".k-widget").hide();
        $("#drpProductCodes").closest(".k-widget").show();
        $(".onloadhide").show();

    });
    
    function showName(ele){
         
        var _prodid=$(ele).attr("data-prodid");
        var _locationid=$(ele).attr("data-locationid");
        var _type=$(ele).attr("data-type");

        var createTable=function(data,type){
             
            if(type=="inward")
            {
                var str ="<table class='table table-bordered'> <thead><tr><th>S.No</th><th>DocName</th> <th>Vendor</th> <th>Quantity</th> <th>Expected Date</th> </tr> </thead> <tbody> ";
                for (var i = 0; i < data.length;i++) {
                    str +="<tr><td>"+(i+1)+"</td><td><a href='/GridStock/UpdateInStock?DocID="+data[i].DocNo+"'>"+data[i].DocName+" </a></td><td>"+data[i].Vendor+"</td><td>"+data[i].Quantity+"</td><td>"+data[i].efDate+"</td></tr>";
                }
                str+="</tbody></table>";
                $("#modelContainer").empty().append(str);
                $("#myModal").modal('show');
            }
            else if(type=="outward")
            {
                var str ="<table class='table table-bordered'> <thead><tr><th>S.No</th><th>DocName</th> <th>Customer</th> <th>Quantity</th> <th>Expected Date</th> </tr> </thead> <tbody> ";
                for (var i = 0; i < data.length;i++) {
                    str +="<tr><td>"+(i+1)+"</td><td><a href='/GridStock/UpdateOutStock?DocID="+data[i].DocNo+"' >"+data[i].DocName+" </a></td><td>"+data[i].Customer+"</td><td>"+data[i].Quantity+"</td><td>"+data[i].efDate+"</td></tr>";
                }
                str+="</tbody></table>";
                $("#modelContainer").empty().append(str);
                $("#myModal").modal('show');
            }

        };

        if(_prodid && _locationid && _type){
            $.ajax({
                url: '/GridStock/GetReOrdQtyHistory',
                type: 'get',
                data: { "ProductID": _prodid,"WarehouseID":_locationid,"Type":_type },
                beforeSend: function () {
                    $("#ajaxLoadingImg").show();

                },
                complete: function () { $("#ajaxLoadingImg").hide(); },
                success: function (data) {
                    if(data)
                    {
                        createTable(JSON.parse(data),_type);
                    }
                }, 
                error: function (e) { customAlert('Error occured', 'alert'); }
            });
        }

    }
     
</script>
