@model List<MAP.Inventory.Model.ListViewCustomization>
@using MAP.Inventory.Model;
@{
    ViewBag.Title = "ListViewCustomization";
    SessionManager objSession = null;
    if (Session["SessionManager"] != null)
    {
        objSession = (SessionManager)Session["SessionManager"];
    }
}

<form role="search" id="frmListViewsCustomization" class="cmxform">
    <div class="row-fluid heading">
        <div class="span12">
            <h2 class="pull-left">List views</h2>

            <div class="pull-right">
                @if (objSession.RoleFeatures != null && objSession.RoleFeatures.ContainsKey("Listview_Save") && objSession.RoleFeatures["Listview_Save"])
                {
                    <a id="btnSave" class="btn btn-default">Save</a>
                }
                @if (objSession.RoleFeatures != null && objSession.RoleFeatures.ContainsKey("Listview_Clear") && objSession.RoleFeatures["Listview_Clear"])
                {
                    <a id="btnClear" class="btn btn-default">Clear</a>
                }
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span2">
            <label for="txtCode" class="label1">List views</label>
        </div>
        <div class="span8">
            <select class="form-control mousetrap" id="drpListViews">
                <option value="0">-------- select view -------- </option>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <option value="@Model[i].FeatureId">@Model[i].Name </option>
                }

            </select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="drpDefaultText" class="label1">Display Text</label>
            <select class="form-control mousetrap" id="drpDefaultText"></select>
        </div>
        <div class="span6">
            <label for="drpDefaultSearch" class="label1">Default Search</label>
            <select class="form-control mousetrap" id="drpDefaultSearch"></select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="txtCode" class="label1">Total rows</label>
            <input type="text" class="form-control mousetrap" name="txtTotalRows" id="txtTotalRows" placeholder="Default rows is 20">
        </div>
        <div class="span6">
            <label for="txtCode" class="label1">Panel width</label>
            <input type="text" class="form-control mousetrap" name="txtPanelWidth" id="txtPanelWidth" placeholder="Default panel width is 500">
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="table-responsive">
                <table class="table" id="tblColumns">
                    <thead>
                        <tr>
                            <th class="table_checkbox"><label class="checkbox"><input type="checkbox" name="chkAll" id="chkAll" /></label></th>
                            <th>Field Name</th>
                            <th>Field Text</th>
                            <th>Align</th>
                            <th>Width</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {

            var model= @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            var _item={};
            var _options={};

            // select All check box logic.
            $('#chkAll').on('click', function (e) {
                $("#tblColumns").find(".select_row").attr('checked', this.checked);
            });

            $("#tblColumns").on("click",".select_row", function (e) {
                if(e.isTrigger)
                    e.preventDefault();

                if (this.checked) {
                    var checkAll = true;
                    $("#tblColumns").find("input.select_row").each(function (i, element) {
                        if (!this.checked) {
                            checkAll = false;
                        }
                    });
                    if (checkAll) {
                        $('#chkAll').attr('checked', 'checked');
                    }
                    else {
                        $('#chkAll').removeAttr('checked');
                    }
                }
                else {
                    $('#chkAll').removeAttr('checked');
                }
            });



            // dropdown change logic
            $("#drpListViews").on('change',function(e){

                loadAjaxImg(true);
                e.preventDefault();
                clearControls(true);
                _item= _.findWhere(model, {FeatureId: parseInt(this.value) });
                loadData(_item);
                loadAjaxImg(false);
            });

            // buttons click logic

            $("#btnSave").on('click',function(e){
                e.preventDefault();
                saveData();

            });

            $("#btnClear").on('click',function(e){
                e.preventDefault();
                clearControls();
                $("#drpListViews").val("0");


            });

            // clear contorls 1. remove all the options from dropdowns and make the text box value as empty and remove all the rows from the table
            var clearControls=function(isDropdownChange)  {
                $("#tblColumns>tbody").empty();
                $("#drpDefaultText").empty();
                $("#drpDefaultSearch").empty();

                // load the header field data
                $("#txtTotalRows").val("");
                $("#txtPanelWidth").val("");

                //Get focus back to the listview dropdown
                $("#drpListViews").focus();

                if(!isDropdownChange)
                {
                    $("#drpListViews").val("0");
                }

                $('#chkAll').removeAttr("checked");
                _item={};
            }

            // load the data based on dropdown selection
            var loadData = function(item)  {
                if(item){
                    var options= JSON.parse(item.Options);
                    $("#drpDefaultText").empty();
                    $("#drpDefaultSearch").empty();
                    if(options && options.columns && options.columns.length==1)
                    {
                        _options=options;
                        // first append data grid columns data
                        var columns=[];
                        columns=options.columns[0];
                        var tr='';
                        for (var i = 0; i < columns.length; i++) {
                            tr+=' <tr>';
                            tr+=' <td><input type="checkbox" id="chkHidden'+i+'" class="select_row"';
                            if(!columns[i].hidden===true)
                            {
                                tr+='checked="checked"'
                            }
                            tr+='/> </td>';
                            tr+=' <td>'+columns[i].field+'</td>';
                            tr+=' <td><input type="text" id="txtTitle'+i+'" value="'+columns[i].title+'" placeholder="Default name will be field name"/></td>';
                            tr+=' <td><select id="drpAlign'+i+'">';
                            if(columns[i].align && columns[i].align =='right')
                            {
                                tr+=' <option  val="left" >left</option>   <option selected="selected"  val="right">right</option>';
                            }
                            else
                            {
                                tr+='  <option  selected="selected" val="left" >left</option>   <option val="right" >right</option>';
                            }

                            tr+='</select></td>';
                            tr+=' <td><input type="text" id="txtWidth'+i+'" value="'+columns[i].width+'"  placeholder="Default width 80"/></td>';
                            tr+=' </tr>';


                            $("#drpDefaultText").append($('<option value="'+columns[i].field+'">'+columns[i].title+'</option>'));
                            $("#drpDefaultSearch").append($('<option value="'+columns[i].field+'">'+columns[i].title+'</option>'));


                        }
                        $("#tblColumns>tbody").append(tr);

                        $("#drpDefaultText").val(options.textField);
                        $("#drpDefaultSearch").val(options.searchField);

                        // load the header field data
                        $("#txtTotalRows").val(item.TotalRows);
                        $("#txtPanelWidth").val(options.panelWidth);
                        $("#tblColumns").find(".select_row").eq(0).trigger('click');
                    }
                }
            }


            // data save logic
            var saveData=function() {
                if(validate())
                {
                    buildData();
                    $.ajax({
                        url: '/Admin/SaveListViewCutomization',
                        type: 'POST',
                        data: { model: JSON.stringify(_item) },
                        success: function (res) {

                            if (res != "-494") {
                                customAlert('Data saved successfully', 'alert', function () { $("#drpListViews").focus(); });
                                clearControls();
                            }
                            else
                                customAlert('Error occured while saving. Please contact administrator.');
                        },
                        beforeSend: function () {
                            loadAjaxImg(true);
                        },
                        complete: function () {  loadAjaxImg(false);  },
                        error: function (e) {
                            customAlert('Error in Saving..', 'alert');
                        }
                    });
                }
            };

            //validate the data
            var validate=function()  {
                // header fields
                var flg=true;
                if( $("#drpDefaultText").val()=="")
                {
                    flg=false;
                    customAlert("selected Invalid Text",'alert',function(){$("#drpDefaultText").focus();});
                }
                else if( $("#drpDefaultSearch").val()=="")
                {
                    flg=false;
                    customAlert("selected Invalid Text",'alert',function(){$("#drpDefaultSearch").focus();});
                }

                return true;
            };

            //build the data
            var buildData=function(){

                // header fields
                _item.TotalRows= $("#txtTotalRows").val()? parseInt( $("#txtTotalRows").val()):20 ;
                _options.panelWidth= $("#txtPanelWidth").val()?parseInt($("#txtPanelWidth").val()):500 ;
                _options.searchField=$("#drpDefaultSearch").val();
                _options.textField=$("#drpDefaultText").val();

                // table fields (bind column properties)
                $("#tblColumns>tbody>tr").each(function(i,tr)  {

                    var checkbox=$(tr).find('#chkHidden'+i);
                    var txtTitle=$(tr).find('#txtTitle'+i);
                    var drpAlign=$(tr).find('#drpAlign'+i);
                    var txtWidth=$(tr).find('#txtWidth'+i);


                    _options.columns[0][i].hidden= checkbox.attr("checked")=="checked"?false:true;
                    _options.columns[0][i].title= txtTitle.val()? txtTitle.val():_options.columns[0][i].field;
                    _options.columns[0][i].align = drpAlign.val()?drpAlign.val():'left';
                    _options.columns[0][i].width = txtWidth.val()?txtWidth.val():80;

                });

                _item.Options=JSON.stringify(_options);
            };
        });

    </script>
</form>
