@model List<MAP.Inventory.Model.ListViewCustomization>

@{
    ViewBag.Title = "ListViewCustomization";
}

<!-- input spinners -->
<script src="~/Content/Gebo/js/forms/jquery.spinners.min.js"></script>

<form role="search" id="frmProducts" class="cmxform">
    <div class="row-fluid heading">
        <div class="span12">
            <h2 class="pull-left">List views</h2>

            <div class="pull-right">
                <a id="btnSave" class="btn btn-default">Save</a>
                <a id="btnNew" class="btn btn-default">New</a>
                <a id="btnPrev" class="btn btn-default">Previous</a>
                <a id="btnNext" class="btn btn-default">Next</a>
                <a id="btnBack" class="btn btn-default">Back to Documents</a>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span2">
            <label for="txtCode" class="label">List views</label>
        </div>
        <div class="span8">
            <select class="form-control mousetrap" id="drpListViews">
                <option value="0">-------- select view -------- </option>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <option value="@Model[i].FeatureId">@Model[i].Name </option>
                }

            </select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="drpDefaultText" class="label">Display Text</label>
            <select class="form-control mousetrap" id="drpDefaultText"></select>
        </div>
        <div class="span6">
            <label for="drpDefaultSearch" class="label">Default Search</label>
            <select class="form-control mousetrap" id="drpDefaultSearch"></select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="txtCode" class="label">Total rows</label>
            <input type="text" class="form-control mousetrap" name="txtTotalRows" id="txtTotalRows" placeholder="Total rows">
        </div>
        <div class="span6">
            <label for="txtCode" class="label">Panel width</label>
            <input type="text" class="form-control mousetrap" name="txtPanelWidth" id="txtPanelWidth" placeholder="Panel width">
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table class="table" id="tblColumns">
                <thead>
                    <tr>
                        <th class="table_checkbox"><label class="checkbox"><input type="checkbox" name="chkAll" id="chkAll" /></label></th>
                        <th>Field Name</th>
                        <th>Field Text</th>
                        <th>Align</th>
                        <th>Width</th>
                    </tr>
                </thead>
                <tbody>
                     
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        var model= @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        $(function () {


            // select All logic.
            $('#chkAll').on('click', function (e) {
                $("#tblColumns").find("input[name=select_row]").attr('checked', this.checked);
            });

            $("input.select_row").on("click", function (e) {
                if (this.checked) {
                    var checkAll = true;
                    $("#tblColumns").find("input.select_row").each(function (i, element) {
                        if (!this.checked) {
                            checkAll = false;
                        }
                    });
                    if (checkAll) {
                        $('#chkAll').attr('checked', 'checked');
                    }
                    else {
                        $('#chkAll').removeAttr('checked');
                    }
                }
                else {
                    $('#chkAll').removeAttr('checked');
                }
            });

            $("#drpListViews").on('change',function(e){
                debugger
                e.preventDefault();
                $("#tblColumns>tbody").empty();
                var _item= _.findWhere(model, {FeatureId: parseInt(this.value) });
                loadData(_item);
            });


            var loadData = function(item)  {
                if(item){
                    var options= JSON.parse(item.Options);
                    if(options && options.columns && options.columns.length==1)
                    {
                        // first append data grid columns data
                        var columns=[];
                        columns=options.columns[0];
                        var tr='';
                        for (var i = 0; i < columns.length; i++) {
                            tr+=' <tr>';
                            tr+=' <td><input type="checkbox" id="chkHidden'+i+'" name="select_row" class="select_row"';
                            if(columns[i].hidden !==undefined &&  columns[i].hidden===false)
                            {
                                tr+='checked="checked"'
                            }
                            tr+='/> </td>';
                            tr+=' <td>'+columns[i].field+'</td>';
                            tr+=' <td><input type="text" id="txtTitle'+i+'" value="'+columns[i].title+'"/></td>';                            
                            tr+=' <td><select id="drpAlign"'+i+'>';
                            if(columns[i].align && columns[i].align =='right')
                            {
                                tr+=' <option  >left</option>   <option selected="selected" >right</option>';
                            }
                            else
                            {
                                tr+='  <option  selected="selected" >left</option>   <option >right</option>';
                            }
                            
                            tr+='</select></td>';         
                            tr+=' <td><input type="text" id="txtWidth'+i+'" value="'+columns[i].width+'"/></td>'; 
                            tr+=' </tr>';
                               

                            $("#drpDefaultText").append($('<option value="'+columns[i].field+'">'+columns[i].title+'</option>'));
                            $("#drpDefaultSearch").append($('<option value="'+columns[i].field+'">'+columns[i].title+'</option>'));
                            $("#drpDefaultSearch").val(txtPanelWidth);
                            $("#drpDefaultSearch").val();

                        }
                        $("#tblColumns>tbody").append(tr);
                        $("#txtTotalRows").val();
                        $("#drpDefaultSearch").val(textField);
                        // load the header field data


                    }
                }
            }

        });

    </script>
</form>

